@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 20%, 25%;
    --foreground: 210, 15%, 85%;
    --primary: 207, 90%, 50%;
    --secondary: 0, 0%, 55%;
    --accent: 140, 60%, 45%;
    --card: 207, 90%, 48%;
    --card-foreground: 210, 20%, 85%;
    --popover: 140, 60%, 48%;
    --popover-foreground: 210, 15%, 85%;
    --primary-foreground: 207, 90%, 10%;
    --secondary-foreground: 0, 0%, 100%;
    --tertiary: 207, 90%, 55%;
    --tertiary-foreground: 207, 90%, 5%;
    --destructive: 0, 100%, 50%;
    --destructive-foreground: 0, 0%, 100%;
    --muted: 207, 90%, 65%;
    --muted-foreground: 210, 20%, 85%;
    --border: 207, 90%, 45%;
    --input: 207, 90%, 50%;
    --ring: 140, 60%, 45%;
    --radius: 0.5rem;
    --primary-background: 207, 90%, 53%;
    --secondary-background: 0, 0%, 60%;
    --tertiary-background: 140, 60%, 50%;
    --background-canvas: 210, 20%, 25%;
    --nav-height: 10dvh;
    --nav-background: 207, 80%, 50%;
    --nav-foreground: 210, 10%, 90%;
    --nav-height-mobile: 10dvh;
    --footer-height: 10dvh;
    --footer-background: 207, 90%, 50%;
    --footer-height-mobile: 10dvh;
    --drawer-width: 40vw;
    --drawer-width-mobile: 90vw;
  }

  .dark {
    --background: 210, 30%, 10%;
    --foreground: 210, 10%, 90%;
    --primary: 207, 80%, 60%;
    --secondary: 0, 0%, 50%;
    --accent: 140, 50%, 55%;
    --card: 207, 80%, 15%;
    --card-foreground: 210, 10%, 90%;
    --popover: 140, 50%, 20%;
    --popover-foreground: 210, 10%, 90%;
    --primary-foreground: 207, 80%, 20%;
    --secondary-foreground: 0, 0%, 90%;
    --tertiary: 207, 80%, 65%;
    --tertiary-foreground: 207, 80%, 10%;
    --destructive: 0, 100%, 55%;
    --destructive-foreground: 0, 0%, 90%;
    --muted: 207, 80%, 30%;
    --muted-foreground: 210, 10%, 90%;
    --border: 207, 80%, 20%;
    --input: 207, 80%, 15%;
    --ring: 140, 50%, 55%;
    --radius: 0.5rem;
    --primary-background: 207, 80%, 18%;
    --secondary-background: 0, 0%, 15%;
    --tertiary-background: 140, 50%, 20%;
    --background-canvas: 210, 30%, 10%;
    --nav-height: 10dvh;
    --nav-background: 207, 80%, 15%;
    --nav-foreground: 210, 10%, 90%;
    --nav-height-mobile: 10dvh;
    --footer-height: 10dvh;
    --footer-background: 207, 80%, 15%;
    --footer-height-mobile: 10dvh;
    --drawer-width: 40vw;
    --drawer-width-mobile: 90vw;
  }
}
@layer components {
  .border-border {
    border: 1px solid #000;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
